@font-face {
    font-family: "Gotham Black";
    src: url('../fonts/gotham/Gotham_Black_Regular.ttf'),
}

/******************* open sans **************************/
@font-face {
    font-family: "Open Sans Light";
    src: url('../fonts/open_sans/OpenSans-Light.ttf'),
}

@font-face {
    font-family: "Open Sans Regular";
    src: url('../fonts/open_sans/OpenSans-Regular.ttf'),
}