$font_lato: 'Lato',
sans-serif;
$font_gotam: 'Gotham Black',
sans-serif;
$font_opensans_200: 'OpenSans Light',
sans-serif;
$font_opensans_400: 'OpenSans Reguler',
sans-serif;
$font_mariad: 'Myriad Pro',
sans-serif;

$color_hover: #ffbb42;
$color_orange_bg: #ffc155;
$color_text: #868686;
$color_service_icons: #709dca;
$color_banner_footer: #709dca;
$width_1170: 1170px;

.happyClients {
    background-color: $color_orange_bg;
    min-width: $width_1170;
}

.happyClients_container {
    width: $width_1170;
    margin: 0 auto;
    padding-top: 132px;
    padding-bottom: 140px;

    .h2 {
        font-size: 30px;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-family: $font_gotam;
        line-height: 1.2;
    }

    .text {
        text-align: center;
        font-size: 18px;
        line-height: 1.2;
        font-family: $font_opensans_400;
        color: white;
        font-weight: 200;
    }

    .cards_container {
        margin-top: 56px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            width: 566px;
            margin-bottom: 20px;
            padding: 45px 20px 50px 16px;
            display: flex;
            justify-content: space-around;
            border-radius: 3px;
            background-color: #fff;

            &:nth-child(1) .card__left {
                background-image: url('../images/face1.png');
            }

            &:nth-child(2) .card__left {
                background-image: url('../images/face2.png');
            }

            &:nth-child(3) .card__left {
                background-image: url('../images/face3.png');
            }

            &:nth-child(4) .card__left {
               background-image: url('../images/face4.png');
            }
        }

        .card__left {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
        }

        .card__right {
            width: 380px;
            padding: 0 20px;

            .text {
                position: relative;
                color: #7b7b7b;
                text-align: left;
                font-family: $font_opensans_400;
                font-size: 13px;
                line-height: 1.7;

                &:before{
                    content: "\f10d";
                    position: absolute;
                    left: -16px;
                    top: -6px;
                    font-size: 10px;
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900; 
                }
                &:after{
                    content: "\f10d";
                    position: absolute;
                    display: inline-block;
                    transform: rotateY(180deg);
                    margin-left: 40px;
                    margin-top: 8px;
                    font-size: 10px;
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900; 
                }
            }
            .h3{
                margin-top: 20px;
                color: $color_text;
                font-family: $font_lato;
                font-size: 14px;
                text-transform: uppercase;
            }
            .name{
                color: red;
                &:after{
                    content: ",";
                }
            }
           .position{
           color: $color_text;
           }
        }
    }
}