@import  'variables';
.newsletter {
    width: $width_1170;
    margin: 145px auto 0 auto;
    padding-bottom: 8px;
    border-bottom: 1px solid $color_hor_line;

    .h2 {
        font-size: 30px;
        text-align: center;
        color: $color_black_header;
        text-transform: uppercase;
        font-family: $font_gotam;
        line-height: 1.2;
    }

    .text {
        text-align: center;
        font-size: 16px;
        line-height: 1.2;
        font-family: $font_opensans_400;
        color: $color_black_header;
        font-weight: 200;
    }

    .form {
        width: 940px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 34px;

        .input {
            width: 100%;
            line-height: 40px;
            margin-right: 5px;
            padding-left: 44px;
            border-radius: 3px;
            font-family: $font_opensans_400;
            font-size: 13px;
            border-color: transparent;
        }

        .input-group {
            position: relative;
            border: 1px solid $color_text;
            border-radius: 3px;

            &:first-child {
                width: 310px;
            }

            &:nth-child(2) {
                width: 390px;
            }
        }

        .input-group-addon {
            position: absolute;
            left: 18px;
            top: 22px;
            color: rgb(88, 88, 88);
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 14px;
            line-height: 0;
        }

        .input-group:hover .input-group-addon {
            color: $color_hover;
        }

        .input:focus+.input-group-addon {
            color: $color_hover;
        }

        .input:focus:not(.submit) {
            box-shadow: 0px 0px 0px 2px rgba(9, 3, 200, 0.4);
        }

        .submit {
            width: 215px;
            margin-right: 0;
            padding-left: 1px;
            line-height: 32px;
            height: 48px;
            background-color: $color_hover;
            border: transparent;
            color: white;
            text-transform: uppercase;
        }
    }

    .map {
        width: 1100px;
        height: 564px;
        margin: 45px auto;
        padding: 45px 0 0 0;
        background-image: url('../images/map_dotted.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        .round {
            width: 285px;
            height: 295px;
            margin: 0 auto;
            padding-top: 60px;
            background-image: url('../images/black_round.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .h3 {
            font-family: $font_lato;
            font-size: 15px;
            line-height: 30px;
            text-transform: uppercase;
            text-align: center;
            color: white;
        }

        .comon {
            font-family: $font_opensans_400;
            font-size: 13px;
            line-height: 24px;
            text-align: center;
            color: $color_text;
        }
        .email {
            color: $color_hover;
        }

        .logo {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            background-image: url('../images/logo.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}