 @use 'fonts';
 @use 'how_it_works';
 @use 'happy_clients';
 @use 'newsletter';
 @use 'bottom';
 @import  'variables';

 body {
     box-sizing: border-box;
     font-family: $font_lato;
 }

 .logo {
     width: 1170px;
     margin: 0 auto;

     .logo-container {
         float: left;
         width: 52px;
         height: 52px;
         margin-top: 20px;
         margin-left: 4px;
         background-image: url('../images/logo.png');
         background-repeat: no-repeat;
         background-position: center;
     }

     .nav {
         float: right;
         font-size: 0;
         margin-top: 30px;

         .ref {
             color: $color_text;
         }

         .menu {
             display: inline-block;
             text-transform: uppercase;
             font-family: $font_lato;
             font-size: 14px;
             line-height: 36px;
             vertical-align: top;
             padding: 0 16px;
             margin: 0 2px;

         }

         .ref:last-child .menu {
             padding-right: 10px;
         }

         .menu:hover {
             background-color: $color_hover;
             color: white;
         }
     }
 }

 .banner {
     font-size: 0;

     .banner-uppart {
         min-width: $width_1170;
         background-color: $color_banner_footer;

     }

     .container {
         width: $width_1170;
         margin: 20px auto 0 auto;
         padding-top: 102px;
         color: #fff;
         padding-bottom: 345px;
         position: relative;
     }

     .h1 {
         font-size: 34px;
         text-transform: uppercase;
         font-family: $font_gotam;
         text-align: center;
     }

     .text {
         font-size: 16px;
         line-height: 24px;
         font-family: $font_opensans_400;
         text-align: center;
     }

     .form {
         width: 1084px;
         margin: 0 auto;
         display: flex;
         justify-content: space-between;
         padding-top: 34px;

         .input {
             width: 100%;
             line-height: 40px;
             margin-right: 5px;
             padding-left: 44px;
             border-radius: 3px;
             font-family: $font_opensans_400;
             font-size: 13px;
             border-color: transparent;
         }

         .input-group {
             width: 280px;
             position: relative;
         }

         .input-group-addon {
             position: absolute;
             left: 18px;
             top: 22px;
             color: rgb(88, 88, 88);
             font-family: 'Font Awesome 5 Free';
             font-weight: 900;
             font-size: 14px;
             line-height: 0;
         }

         .input-group:hover .input-group-addon {
             color: $color_hover;
         }

         .input:focus+.input-group-addon {
             color: $color_hover;
         }

         .input:focus:not(.submit) {
             box-shadow: 0px 0px 0px 2px rgba(9, 3, 200, 0.4);
         }

         .submit {
             width: 212px;
             margin-right: 0;
             padding-left: 1px;
             line-height: 32px;
             height: 45px;
             background-color: $color_hover;
             border: transparent;
             color: white;
             text-transform: uppercase;
         }
     }

     .laptop-container {
         width: 647px;
         height: 350px;
         margin: 0 auto;
         position: absolute;
         top: 310px;
         left: 260px;
         background-image: url('../images/laptop.png');
         background-repeat: no-repeat;

         .laptop {
             position: absolute;
             top: 20px;
             left: 100px;
             width: 448px;
             height: 265px;
             background-image: url('../images/laptop_screen0.jpg');
             background-repeat: no-repeat;
             background-position: 25% 75%;
             background-size: cover;
             transition: 500ms;
         }
     }

     .banner-downpart {
         width: 650px;
         height: 110px;
         margin: 0 auto;

         .indicators {
             padding-top: 80px;
             display: flex;
             justify-content: center;

             .indicator {
                 padding: 6px;
                 margin: 5px;
                 border-radius: 50%;
                 border: 1px solid rgb(200, 200, 220);
             }

             .active {
                 border: 2px solid $color_banner_footer;
            }
         }
     }
 }

 .services {
     .container {
         width: $width_1170;
         margin: 90px auto 0 auto;

         .h2 {
             font-size: 30px;
             text-align: center;
             color: rgb(57, 75, 80);
             text-transform: uppercase;
             font-family: $font_gotam;
         }

         .text {
             font-size: 16px;
             font-family: "Open Sans";
             color: rgb(57, 75, 80);
             line-height: 1.375;
             text-align: center;
         }

         .cards-container {
             margin-top: 84px;
             display: flex;
             justify-content: space-between;
             flex-wrap: wrap;
         }

         .servicesCard {
             width: 554px;
             display: flex;
             margin-bottom: 70px;

             .servicesCard__icon {
                 width: 82px;
                 padding-top: 4px;
                 font-size: 42px;
                 color: $color_service_icons;
             }

             .servicesCard__icon:hover {
                 color: $color_hover;
             }

             .servicesCard__content {
                 width: 472px;
                 padding-right: 10px;

                 .h3 {
                     font-size: 15px;
                     font-family: $font_lato;
                     color: rgb(57, 75, 80);
                     font-weight: bold;
                     text-transform: uppercase;
                 }

                 .text {
                     padding: 8px 0 0 0;
                     margin-top: 8px;
                     font-size: 12.8px;
                     font-family: $font_opensans_400;
                     color: rgb(123, 123, 123);
                     line-height: 1.7;
                     text-align: left;
                 }
             }
         }
     }
 }

 .aboutUs {
     min-width: $width_1170;
     margin-top: 84px;
     display: flex;
     flex-wrap: wrap;

     .aboutUs__left {
         width: 50%;
         background-image: url('');
         background-image: url('../images/about_us.jpg');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
     }

     .aboutUs__right {
         width: 50%;
         background-color: $color_orange_bg;
     }

     .article {
         width: 585px;
         padding-top: 155px;
         padding-left: 80px;
         padding-bottom: 170px;

         .h2 {
             font-size: 30px;
             font-family: $font_gotam;
             color: rgb(255, 255, 255);
             text-transform: uppercase;
             line-height: 40px;
             text-align: left;
         }

         .text {
             font-size: 13.5px;
             font-family: $font_opensans_400;
             color: rgb(255, 255, 255);
             line-height: 1.9;
             padding-top: 14px;
         }

         .button {
             width: 145px;
             margin-top: 24px;
             line-height: 45px;
             background-color: $color_hover;
             border: 1px solid #e7ad48;
             font-size: 15px;
             color: white;
             text-align: center;
             text-transform: uppercase;
         }
     }
 }

 .prices {
     background-color: #e7edf3;
     padding: 128px 0 188px 0;
     min-width: $width_1170;

     .h2 {
         font-size: 30px;
         text-align: center;
         color: rgb(57, 75, 80);
         text-transform: uppercase;
         font-family: $font_gotam;
         line-height: 1.2;
     }

     .container {
         width: 1170px;
         margin: 0 auto;
     }

     .text {
         text-align: center;
         font-size: 18px;
         line-height: 1.2;
         font-family: $font_lato;
         color: rgb(57, 75, 80);
         font-weight: 200;
     }

     .prices__cardsContainer {
         display: flex;
         flex-wrap: wrap;
         width: 1170px;
         border: 3px;
         justify-content: space-around;
         margin-top: 80px;
         background-color: #fff;

         .pricesCard_farme {
             width: 390px;
             position: relative;
             border-radius: 10px;
         }

         .pricesCard:hover {
             top: -30px;
             left: -5px;
             background-color: #709dca;
             width: 400px;
             padding-top: 80px;
             padding-bottom: 68px;
             z-index: 4;
             position: absolute;
             color: white;

             .pricesCard__h2 {
                 color: $color_white_hover;
             }

             .pricesCard__price {
                 color: white;
             }

             .price_frame {
                 color: $color_white_hover;
             }

             .pricesCard__h3 {
                 color: $color_white_hover;
                 border-top: 1px solid $color_white_hover;
             }

             .pricesCard__period {
                 color: $color_white_hover;
             }
         }

         .pricesCard {
             width: 380px;
             margin: 0 auto;
             padding: 50px 24px 36px 24px;
             border-radius: 3px;
             background-color: transparent;
             font-family: $font_lato;
             text-transform: uppercase;

             .pricesCard__h2 {
                 text-align: center;
                 font-size: 25px;
                 color: rgb(129, 139, 149);
                 line-height: 1.2;
             }

             .price_frame {
                 margin-top: 20px;
                 display: flex;
                 justify-content: center;
                 color: rgb(255, 187, 66);

             }

             .dollar {
                 display: inline-block;
                 font-size: 36px;

             }

             .pricesCard__price {
                 display: inline-block;
                 font-size: 60px;
                 font-weight: bold;
                 text-transform: uppercase;
                 line-height: 1;
                 text-align: center;
             }

             .pricesCard__h3:nth-child(4) {
                 margin-top: 34px;
             }

             .pricesCard__period {
                 line-height: 1;
                 font-size: 13.5px;
                 color: rgb(181, 187, 193);
                 text-transform: uppercase;
                 text-align: center;
             }

             .pricesCard__h3 {
                 border-top: 1px solid $color_hor_line;
                 font-size: 13.5px;
                 color: rgb(181, 187, 193);
                 text-transform: uppercase;
                 line-height: 3;
                 text-align: center;

             }

             .pricesCard__button {
                 width: 130px;
                 margin: 16px auto;
                 line-height: 38px;
                 background-color: $color_hover;
                 border: 1px solid #e7ad48;
                 font-size: 15px;
                 color: white;
                 text-align: center;
                 text-transform: uppercase;
             }
         }
     }
 }
