@font-face {
  font-family: "Gotham Black";
  src: url("../fonts/gotham/Gotham_Black_Regular.ttf");
}
/******************* open sans **************************/
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/open_sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/open_sans/OpenSans-Regular.ttf");
}
.success {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  border-color: green;
}

/*********************************************/
body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.main-container {
  width: 100%;
}

.logo {
  width: 1170px;
  margin: 0 auto;
}
.logo .logo-container {
  float: left;
  width: 52px;
  height: 52px;
  margin-top: 20px;
  margin-left: 4px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
}
.logo .nav {
  float: right;
  font-size: 0;
  margin-top: 30px;
}
.logo .nav .ref {
  color: #868686;
}
.logo .nav .menu {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 36px;
  vertical-align: top;
  padding: 0 18px;
}
.logo .nav .ref:last-child .menu {
  padding-right: 10px;
}
.logo .nav .menu:hover {
  background-color: #ffbb42;
  color: white;
}

.banner {
  font-size: 0;
}
.banner .banner-uppart {
  width: 100%;
  background-color: #709dca;
}
.banner .container {
  width: 1170px;
  margin: 20px auto 0 auto;
  padding-top: 102px;
  color: #fff;
  padding-bottom: 345px;
  position: relative;
}
.banner .h1 {
  font-size: 34px;
  text-transform: uppercase;
  font-family: "Gotham Black", sans-serif;
  text-align: center;
}
.banner .text {
  font-size: 16px;
  line-height: 24px;
  font-family: "OpenSans Reguler", sans-serif;
  text-align: center;
}
.banner .form {
  width: 1084px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
}
.banner .form .input {
  width: 100%;
  line-height: 40px;
  margin-right: 5px;
  padding-left: 44px;
  font-family: "OpenSans Reguler", sans-serif;
  font-size: 13px;
  border-color: transparent;
}
.banner .form .input-group {
  width: 280px;
  position: relative;
}
.banner .form .input-group-addon {
  position: absolute;
  left: 18px;
  top: 22px;
  color: #585858;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  line-height: 0;
}
.banner .form .input-group:hover .input-group-addon {
  color: #ffbb42;
}
.banner .form .input:focus + .input-group-addon {
  color: #ffbb42;
}
.banner .form .input:focus:not(.submit) {
  box-shadow: 0px 0px 0px 3px rgba(9, 3, 255, 0.53);
}
.banner .form .submit {
  width: 212px;
  margin-right: 0;
  padding-left: 1px;
  line-height: 32px;
  height: 45px;
  background-color: #ffbb42;
  border: transparent;
  color: white;
  text-transform: uppercase;
}
.banner .laptop-container {
  width: 647px;
  height: 350px;
  margin: 0 auto;
  position: absolute;
  top: 310px;
  left: 260px;
  background-image: url("../images/laptop.png");
  background-repeat: no-repeat;
}
.banner .laptop-container .laptop {
  position: absolute;
  top: 20px;
  left: 100px;
  width: 448px;
  height: 265px;
  background-image: url("../images/laptop_screen0.png");
  background-repeat: no-repeat;
  background-position: 25% 75%;
  background-size: cover;
  transition: 500ms;
}
.banner .banner-downpart {
  width: 650px;
  height: 100px;
  margin: 0 auto;
}
.banner .banner-downpart .indicators {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
.banner .banner-downpart .indicators .indicator {
  padding: 6px;
  margin: 5px;
  border-radius: 50%;
  border: 1px solid #8181da;
}
.banner .banner-downpart .indicators .active {
  border: 2px solid blue;
}

.services .container {
  width: 1170px;
  margin: 100px auto 0 auto;
}
.services .container .h2 {
  font-size: 30px;
  text-align: center;
  color: #394b50;
  text-transform: uppercase;
  font-family: "Gotham Black", sans-serif;
}
.services .container .text {
  font-size: 16px;
  font-family: "Open Sans";
  color: #394b50;
  line-height: 1.375;
  text-align: center;
}
.services .container .cards-container {
  margin-top: 84px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services .container .servicesCard {
  width: 554px;
  display: flex;
  margin-bottom: 70px;
}
.services .container .servicesCard .servicesCard__icon {
  width: 82px;
  padding-top: 4px;
  font-size: 42px;
  color: #709dca;
}
.services .container .servicesCard .servicesCard__icon:hover {
  color: #ffbb42;
}
.services .container .servicesCard .servicesCard__content {
  width: 472px;
  padding-right: 10px;
}
.services .container .servicesCard .servicesCard__content .h3 {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  color: #394b50;
  font-weight: bold;
  text-transform: uppercase;
}
.services .container .servicesCard .servicesCard__content .text {
  padding: 8px 0 0 0;
  margin-top: 8px;
  font-size: 12.8px;
  font-family: "OpenSans Reguler", sans-serif;
  color: #7b7b7b;
  line-height: 1.7;
  text-align: left;
}

.aboutUs {
  width: 100%;
  margin-top: 84px;
  display: flex;
  flex-wrap: wrap;
}
.aboutUs .aboutUs__left {
  width: 50%;
  background-image: url("");
  background-image: url("../images/about_us.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutUs .aboutUs__right {
  width: 50%;
  background-color: #ffbb42;
}
.aboutUs .article {
  width: 585px;
  padding-top: 155px;
  padding-left: 80px;
  padding-bottom: 175px;
}
.aboutUs .article .h2 {
  font-size: 30px;
  font-family: "Gotham Black", sans-serif;
  color: white;
  text-transform: uppercase;
  line-height: 40px;
  text-align: left;
}
.aboutUs .article .text {
  font-size: 13.5px;
  font-family: "OpenSans Reguler", sans-serif;
  color: white;
  line-height: 1.9;
  padding-top: 14px;
}
.aboutUs .article .button {
  width: 145px;
  margin-top: 24px;
  line-height: 45px;
  background-color: #ffbb42;
  border: 1px solid #e7ad48;
  font-size: 15px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.prices .h2 {
  font-size: 30px;
  text-align: center;
  color: #394b50;
  text-transform: uppercase;
  font-family: "Gotham Black", sans-serif;
}
.prices .container {
  width: 1170px;
  margin: 0 auto;
}
.prices .text {
  text-align: center;
}
.prices .prices__cardsContainer {
  display: flex;
  flex-wrap: wrap;
}
.prices .prices__cardsContainer .prices__card {
  width: 390px;
  border: solid 1px green;
}

.footer {
  height: 256px;
}

/***************************************************************/
/*
.download {
    display: none;
}

.aw-big {
    font-size: 32px;
    line-height: 1.6;
}

.fa-txt {
    font-size: 20px;
    margin-left: 28px;
}

.tower {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    justify-content: space-around;
    justify-content: center;
    justify-content: flex-end;

    flex-direction: column;
    flex-direction: row-reverse;
    flex-direction: column-reverse;

    align-items: flex-end;
    align-items: center;

    align-self: center;
    align-self: flex-end;
    order: 2;
}

nav - Lato Regular
Gotham Black
OpenSans

.footer {

    #before {
        padding: .6em 2.6em .6em .3em;
        vertical-align: middle;
    }

    #before[required]+label {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    #before[required]+label:before {
        content: "\2709";
        position: absolute;
        left: -1.2em;
        font-size: 23px;
        color: rgb(238, 238, 238);
    }

      #before[required]:hover + label:before, #before[required]:focus + label:before {
        color: rgb(220, 200, 200);
      }
      #before[required]:not(:focus):not(:hover):valid {
        opacity: .4;
      }
      #before[required]:not(:focus):valid + label:before {
        content: "\2714";
        color: green;
      }

    .awe {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }
}
*/

/*# sourceMappingURL=style.css.map */
